{% if localization.available_languages.size > 1 %}
  <form-localizer>
    {% form 'localization', id: 'form-localizer' %}
      <div class="disclosure">
        <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="LanguageList">
          {{ localization.language.endonym_name | capitalize }}
          {% render 'form-localizer-icon' %}
        </button>

        <ul role="list" class="disclosure__list" hidden>
          {% for language in localization.available_languages %}
            <li class="disclosure__item" tabindex="-1">
              <a
                class="disclosure__item-link"
                href="#"
                {% if language.iso_code == localization.language.iso_code %} aria-current="true" {% endif %}
                hreflang="{{ language.iso_code }}"
                lang="{{ language.iso_code }}"
                data-value="{{ language.iso_code }}">
                {{ language.endonym_name | capitalize }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}"/>
      </div>
    {% endform %}
  </form-localizer>
{% endif %}